html,
body {
  font-family:
    Playfair Display,
    serif;
  margin: 0;
  padding: 0;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
